<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedBullProject"
        tools:targetApi="31">
        <activity
            android:name=".ActivitySepet"
            android:exported="false" />
        <activity
            android:name=".ActivitySuperbike"
            android:exported="false" />
        <activity
            android:name=".ActivityMotoGP"
            android:exported="false" />
        <activity
            android:name=".ActivityVoleybol"
            android:exported="false" />
        <activity
            android:name=".ActivityKategori2"
            android:exported="true" />
        <activity
            android:name=".ActivityKategori"
            android:exported="true" />
        <activity
            android:name=".ActivityBlue"
            android:exported="true" />
        <activity
            android:name=".ActivityRed"
            android:exported="true" />
        <activity
            android:name=".ActivityYellow"
            android:exported="true" />
        <activity
            android:name=".ActivityOrange"
            android:exported="true" />
        <activity
            android:name=".ActivityPurple"
            android:exported="true" />
        <activity
            android:name=".ActivitySignup"
            android:exported="true"
            android:theme="@style/Theme.RedBullProject" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>